@import "~styles/variables.scss";
@import "~styles/mixins.scss";

.Project {
  display: flex;
  flex-direction: column;

  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;

    .illustration {
      width: 100%;
      border-radius: 3px;
    }

    > span.description {
      font-size: 0.875rem;
      color: $grey;
      text-align: center;
      margin-top: 0.75rem;
      font-style: italic;
    }
  }

  .heading {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 1.5rem;

    > h2 {
      white-space: pre-wrap;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.63;
      color: $dark;
      margin: 0;
    }
  }

  > p {
    white-space: pre-wrap;
    font-size: 1.125rem;
    line-height: 1.67;
    color: $dark;
    margin-top: 0;
    margin-bottom: 1.5rem;

    > strong {
      font-weight: 600;
    }
  }

  @include isMobile {
    .media {
      margin: 1rem 0;

      > img {
        width: 100%;
        min-height: auto;
        border-radius: 0;
      }

      > span.description {
        font-size: 0.75rem;
      }
    }

    .heading {
      margin: 1rem 2rem;

      > h2 {
        font-size: 1.625rem;
      }
    }

    > p {
      margin: 1rem 2rem;
      font-size: 1rem;
    }
  }
}
