@import '~styles/variables.scss';

.Project {
  display: flex;
  flex-direction: column;

  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1.5rem 0;

    > img {
      width: 100%;
    }

    > span.description {
      font-size: 0.875rem;
      color: $brown-grey;
      text-align: center;
      margin-top: 0.5rem;
      font-style: italic;
    }
  }

  .heading {
    display: inline-flex;
    margin: 1.5rem 5.625rem;

    > h2 {
      // display: inline-flex;
      font-size: 2rem;
      font-weight: bold;
      color:$dark;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  > p {
    font-size: 1.125rem;
    line-height: 1.67;
    color:$dark;
    margin: 1.5rem 5.625rem;

    > strong {
      font-weight: 600;
    }
  }
}
