@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.Project {
  display: flex;
  flex-direction: column;

  .media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1.5rem 0;

    > img {
      width: 100%;
      min-height: 20rem;
      background-color: #FBFBFB;
      border-radius: 3px;
    }

    > span.description {
      font-size: 0.875rem;
      color: $brown-grey;
      text-align: center;
      margin-top: 0.5rem;
      font-style: italic;
    }
  }

  .heading {
    display: inline-flex;
    margin: 1.5rem 5.625rem;

    > h2 {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.25;
      color:$dark;
      margin: 0;
    }
  }

  > p {
    font-size: 1.125rem;
    line-height: 1.67;
    color:$dark;
    margin: 1.5rem 5.625rem;

    > strong {
      font-weight: 600;
    }
  }

  @include isMobile {
    .heading {
      margin: 1.5rem;
    }

    > p {
      margin: 1.5rem;
    }
  }
}
