@import "styles/mixins.scss";

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: white;
}

body {
  margin: 0;
  font-family: "Montserrat", Sans-Serif;
}

p {
  font-family: "Lora", Serif;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
select {
  margin: 0;
}
