@import '~styles/variables.scss';

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 3px;
  background-color: $ice-blue;

  span.brand {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 0.71;
    color: $azure;
  }

  &:hover {
    cursor: pointer;
  }
}
