.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 3px;
  background-color: #edf7fd;

  span.brand {
    font-size: 18px;
    font-weight: 600;
    line-height: 0.71;
    color: #25a4e8;
  }

  &:hover {
    cursor: pointer;
  }
}
