@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.Home {
  h1.hello {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: normal;
    color: $dark;
    margin: 0;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.625rem 1.875rem;
  }

  @include isMobile {
    padding: 0 1.5rem;

    .projects {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      gap: inherit;
    }
  }
}
