@import '~styles/mixins.scss';

.Header {
  padding: 0.675rem 0;
  margin-bottom: 5rem;

  .logo:hover {
    cursor: pointer;
  }

  @include isMobile {
    padding: 0.675rem 2rem;
    margin-bottom: 3.5rem;
  }
}
