@import '~styles/variables.scss';

.ProjectMiniature {
  flex-basis: 50%;

  .illustration {
    width: 100%;
    height: 32rem;
    margin-bottom: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    overflow: hidden;
  }

  span.category {
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $azure;
    margin: 0;
  }

  h2.title {
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.69;
    color: $dark;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  p.excerpt {
    font-size: 1rem;
    line-height: 1.69;
    color: $dark;
    margin-bottom: 0.5rem;
  }

  .moreLink {
    display: inline-flex;
    align-items: center;

    a.label {
      font-size: 1rem;
      font-weight: 600;
      color: $azure;
      text-decoration: none;
    }

    .icon {
      color: $azure;
      font-weight: bold;
      position: relative;
      margin-top: 1px;
      margin-left: 2px;
    }

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $azure;
    }
  }
}
