@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.Footer {
  width: 100%;
  height: 5.625rem;
  background-color: $pale-grey;
  margin-top: 7rem;

  .innerContent {
    width: 60rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span.copyright {
      font-size: 0.875rem;
      text-align: left;
      color: $brown-grey;
    }

    .contact {
      display: flex;
      align-items: center;

      a.linkedin, a.mail {
        color: $brown-grey;
        font-size: 1.375rem;

        &:not(:first-of-type) {
          margin-left: 0.75rem;
        }

        &:hover {
          cursor: pointer;
          color: $azure;
        }
      }
    }

    @include isMobile {
      width: 100%;
      flex-direction: column;
      justify-content: center;

      .contact {
        margin-top: 0.5rem;
      }
    }
  }
}
