@import "~styles/variables.scss";
@import "~styles/mixins.scss";

.Footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $alabaster;
  margin-top: 7rem;

  .innerContent {
    width: $containerWidth;
    padding: 1.875rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span.copyright {
      font-size: 1rem;
      text-align: left;
      font-style: normal;
      color: $grey;
    }

    .contact {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(2, minmax(5rem, 1fr));

      .link {
        padding: 0.25rem 0;
        font-size: 1rem;
        text-align: center;
        color: $grey;
        text-decoration: none;
        user-select: none;

        &:hover {
          cursor: pointer;
          color: $dark;
          font-weight: 500;
        }
      }
    }
  }

  @include isMobile {
    height: 7rem;
    margin-top: 3.5rem;

    .innerContent {
      width: 100%;
      flex-direction: column;
      justify-content: center;

      .contact {
        margin-top: 0.5rem;
      }
    }
  }
}
